# Individual Project 4
Brian Johnston  
v1.0  
SP2021 - DS-160-01

In [674]:
import pandas as pd
import matplotlib as mpl
import seaborn as sb
import datetime

In [675]:
df = pd.read_csv('airlineDelays.csv')

# Cleaning

In [612]:
df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,...,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 33
0,2020,12,28,1,2020-12-28,2716,MCO,"Orlando, FL",FL,DFW,...,177.0,146.0,985.0,4,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,12,29,2,2020-12-29,2716,MCO,"Orlando, FL",FL,DFW,...,182.0,150.0,985.0,4,0.0,0.0,5.0,0.0,35.0,NaN
2,2020,12,30,3,2020-12-30,2716,MCO,"Orlando, FL",FL,DFW,...,230.0,148.0,985.0,4,0.0,0.0,60.0,0.0,67.0,NaN
3,2020,12,31,4,2020-12-31,2716,MCO,"Orlando, FL",FL,DFW,...,175.0,154.0,985.0,4,0.0,0.0,0.0,0.0,33.0,NaN
4,2020,12,1,2,2020-12-01,2717,CLT,"Charlotte, NC",NC,MCO,...,89.0,75.0,468.0,2,NaN,NaN,NaN,NaN,NaN,NaN

In [613]:
df['YEAR'].groupby(df['YEAR']).count()

YEAR
2020    371357
Name: YEAR, dtype: int64

In [614]:
def num_to_day(num):
    dic_days = {
    '1':'Monday',
    '2':'Tuesday',
    '3':'Wednesday',
    '4':'Thursday',
    '5':'Friday',
    '6':'Saturday',
    '7':'Sunday'}
    return(dic_days.get(str(num)))

In [615]:
df['DAY_OF_WEEK'] = list(map(num_to_day,df['DAY_OF_WEEK']))

In [616]:
df.sample(20)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,...,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 33
143027,2020,12,31,Thursday,2020-12-31,2428,GRR,"Grand Rapids, MI",MI,PIE,...,160.0,143.0,1044.0,5,NaN,NaN,NaN,NaN,NaN,NaN
263628,2020,12,11,Friday,2020-12-11,5032,CMH,"Columbus, OH",OH,MSP,...,106.0,93.0,626.0,3,NaN,NaN,NaN,NaN,NaN,NaN
130413,2020,12,23,Wednesday,2020-12-23,2126,MCO,"Orlando, FL",FL,JFK,...,140.0,123.0,944.0,4,NaN,NaN,NaN,NaN,NaN,NaN
53919,2020,12,3,Thursday,2020-12-03,1607,FLL,"Fort Lauderdale, FL",FL,ATL,...,105.0,87.0,581.0,3,NaN,NaN,NaN,NaN,NaN,NaN
277267,2020,12,22,Tuesday,2020-12-22,480,PHX,"Phoenix, AZ",AZ,STL,...,172.0,146.0,1262.0,6,NaN,NaN,NaN,NaN,NaN,NaN
307779,2020,12,1,Tuesday,2020-12-01,1476,DAL,"Dallas, TX",TX,DCA,...,154.0,142.0,1184.0,5,NaN,NaN,NaN,NaN,NaN,NaN
313278,2020,12,4,Friday,2020-12-04,2151,BNA,"Nashville, TN",TN,CLE,...,82.0,68.0,448.0,2,NaN,NaN,NaN,NaN,NaN,NaN
320603,2020,12,17,Thursday,2020-12-17,155,ATL,"Atlanta, GA",GA,LGA,...,112.0,95.0,762.0,4,NaN,NaN,NaN,NaN,NaN,NaN
126698,2020,12,21,Monday,2020-12-21,1663,JFK,"New York, NY",NY,TPA,...,170.0,154.0,1005.0,5,NaN,NaN,NaN,NaN,NaN,NaN
95176,2020,12,23,Wednesday,2020-12-23,5929,PHX,"Phoenix, AZ",AZ,RNO,...,117.0,91.0,601.0,3,NaN,NaN,NaN,NaN,NaN,NaN
144542,2020,12,28,Monday,2020-12-28,2297,SFB,"Sanford, FL",FL,SDF,...,118.0,104.0,698.0,3,NaN,NaN,NaN,NaN,NaN,NaN
125004,2020,12,20,Sunday,2020-12-20,1766,MSP,"Minneapolis, MN",MN,FAR,...,62.0,45.0,223.0,1,NaN,NaN,NaN,NaN,NaN,NaN
8980,2020,12,12,Saturday,2020-12-12,1164,CLT,"Charlotte, NC",NC,MEM,...,106.0,93.0,511.0,3,NaN,NaN,NaN,NaN,NaN,NaN
165630,2020,12,30,Wednesday,2020-12-30,4223,DFW,"Dallas/Fort Worth, TX",TX,MHK,...,102.0,56.0,431.0,2,NaN,NaN,NaN,NaN,NaN,NaN
305342,2020,12,10,Thursday,2020-12-10,2228,DEN,"Denver, CO",CO,IAH,...,132.0,114.0,862.0,4,NaN,NaN,NaN,NaN,NaN,NaN
9808,2020,12,21,Monday,2020-12-21,1241,DFW,"Dallas/Fort Worth, TX",TX,SEA,...,297.0,223.0,1660.0,7,0.0,0.0,15.0,0.0,9.0,NaN
42837,2020,12,23,Wednesday,2020-12-23,872,SLC,"Salt Lake City, UT",UT,JFK,...,269.0,247.0,1990.0,8,NaN,NaN,NaN,NaN,NaN,NaN
275520,2020,12,22,Tuesday,2020-12-22,352,TUS,"Tucson, AZ",AZ,DFW,...,126.0,103.0,813.0,4,NaN,NaN,NaN,NaN,NaN,NaN
106672,2020,12,7,Monday,2020-12-07,5652,CLT,"Charlotte, NC",NC,LGA,...,93.0,73.0,544.0,3,NaN,NaN,NaN,NaN,NaN,NaN
193815,2020,12,2,Wednesday,2020-12-02,3015,PHX,"Phoenix, AZ",AZ,SBP,...,114.0,79.0,509.0,3,0.0,0.0,0.0,0.0,44.0,NaN

In [617]:
del df['YEAR']
del df['MONTH']
del df['DAY_OF_MONTH']

In [618]:
df.head()

,DAY_OF_WEEK,FL_DATE,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,...,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 33
0,Monday,2020-12-28,2716,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1724.0,...,177.0,146.0,985.0,4,NaN,NaN,NaN,NaN,NaN,NaN
1,Tuesday,2020-12-29,2716,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1805.0,...,182.0,150.0,985.0,4,0.0,0.0,5.0,0.0,35.0,NaN
2,Wednesday,2020-12-30,2716,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1844.0,...,230.0,148.0,985.0,4,0.0,0.0,60.0,0.0,67.0,NaN
3,Thursday,2020-12-31,2716,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1805.0,...,175.0,154.0,985.0,4,0.0,0.0,0.0,0.0,33.0,NaN
4,Tuesday,2020-12-01,2717,CLT,"Charlotte, NC",NC,MCO,"Orlando, FL",FL,1252.0,...,89.0,75.0,468.0,2,NaN,NaN,NaN,NaN,NaN,NaN

In [619]:
df['Unnamed: 33'].groupby(df['Unnamed: 33']).count()

Series([], Name: Unnamed: 33, dtype: int64)

In [620]:
del df['Unnamed: 33']

In [621]:
df.head()

,DAY_OF_WEEK,FL_DATE,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,...,DIVERTED,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,Monday,2020-12-28,2716,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1724.0,...,0.0,177.0,146.0,985.0,4,NaN,NaN,NaN,NaN,NaN
1,Tuesday,2020-12-29,2716,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1805.0,...,0.0,182.0,150.0,985.0,4,0.0,0.0,5.0,0.0,35.0
2,Wednesday,2020-12-30,2716,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1844.0,...,0.0,230.0,148.0,985.0,4,0.0,0.0,60.0,0.0,67.0
3,Thursday,2020-12-31,2716,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1805.0,...,0.0,175.0,154.0,985.0,4,0.0,0.0,0.0,0.0,33.0
4,Tuesday,2020-12-01,2717,CLT,"Charlotte, NC",NC,MCO,"Orlando, FL",FL,1252.0,...,0.0,89.0,75.0,468.0,2,NaN,NaN,NaN,NaN,NaN

In [622]:
del df['OP_CARRIER_FL_NUM']

In [623]:
df['DIVERTED'].groupby(df['DIVERTED']).count()

DIVERTED
0.0    370790
1.0       567
Name: DIVERTED, dtype: int64

In [624]:
df.drop(df[df['DIVERTED'] == float(1)].index,inplace=True)

In [625]:
df['DIVERTED'].groupby(df['DIVERTED']).count()

DIVERTED
0.0    370790
Name: DIVERTED, dtype: int64

In [626]:
del df['DIVERTED']

In [627]:
df['CARRIER_DELAY'] = df['CARRIER_DELAY'].fillna(0)
df['WEATHER_DELAY'] = df['WEATHER_DELAY'].fillna(0)
df['NAS_DELAY'] = df['NAS_DELAY'].fillna(0)
df['SECURITY_DELAY'] = df['SECURITY_DELAY'].fillna(0)
df['LATE_AIRCRAFT_DELAY'] = df['LATE_AIRCRAFT_DELAY'].fillna(0)

In [628]:
df.head()

,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,DEP_DELAY,...,CANCELLED,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,Monday,2020-12-28,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1724.0,-6.0,...,0.0,177.0,146.0,985.0,4,0.0,0.0,0.0,0.0,0.0
1,Tuesday,2020-12-29,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1805.0,35.0,...,0.0,182.0,150.0,985.0,4,0.0,0.0,5.0,0.0,35.0
2,Wednesday,2020-12-30,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1844.0,74.0,...,0.0,230.0,148.0,985.0,4,0.0,0.0,60.0,0.0,67.0
3,Thursday,2020-12-31,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1805.0,35.0,...,0.0,175.0,154.0,985.0,4,0.0,0.0,0.0,0.0,33.0
4,Tuesday,2020-12-01,CLT,"Charlotte, NC",NC,MCO,"Orlando, FL",FL,1252.0,-7.0,...,0.0,89.0,75.0,468.0,2,0.0,0.0,0.0,0.0,0.0

In [629]:
df['CANCELLED'].groupby(df['CANCELLED']).count()

CANCELLED
0.0    366940
1.0      3850
Name: CANCELLED, dtype: int64

In [630]:
df.drop(df[df['CANCELLED'] == float(1)].index,inplace=True)

In [631]:
df['CANCELLED'].groupby(df['CANCELLED']).count()

CANCELLED
0.0    366940
Name: CANCELLED, dtype: int64

In [632]:
del df['CANCELLED']

In [633]:
df.head()

,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,DEP_DELAY,...,ARR_DELAY_GROUP,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,Monday,2020-12-28,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1724.0,-6.0,...,-1.0,177.0,146.0,985.0,4,0.0,0.0,0.0,0.0,0.0
1,Tuesday,2020-12-29,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1805.0,35.0,...,2.0,182.0,150.0,985.0,4,0.0,0.0,5.0,0.0,35.0
2,Wednesday,2020-12-30,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1844.0,74.0,...,8.0,230.0,148.0,985.0,4,0.0,0.0,60.0,0.0,67.0
3,Thursday,2020-12-31,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,1805.0,35.0,...,2.0,175.0,154.0,985.0,4,0.0,0.0,0.0,0.0,33.0
4,Tuesday,2020-12-01,CLT,"Charlotte, NC",NC,MCO,"Orlando, FL",FL,1252.0,-7.0,...,-2.0,89.0,75.0,468.0,2,0.0,0.0,0.0,0.0,0.0

In [634]:
df['DEP_TIME'].describe()

count    366940.000000
mean       1299.627915
std         455.125392
min           1.000000
25%         923.000000
50%        1303.000000
75%        1654.000000
max        2400.000000
Name: DEP_TIME, dtype: float64

In [635]:
df.dtypes

DAY_OF_WEEK             object
FL_DATE                 object
ORIGIN                  object
ORIGIN_CITY_NAME        object
ORIGIN_STATE_ABR        object
DEST                    object
DEST_CITY_NAME          object
DEST_STATE_ABR          object
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_NEW          float64
DEP_DELAY_GROUP        float64
WHEELS_OFF             float64
WHEELS_ON              float64
ARR_TIME               float64
ARR_DELAY              float64
ARR_DELAY_NEW          float64
ARR_DELAY_GROUP        float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE               float64
DISTANCE_GROUP           int64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [638]:
def military_convert(time):
    time = str(time)[:-2]
    hour = str(time)[:-2]
    mins = str(time)[2:]
    if hour == '':
        hour = '0'
    if mins == '':
        mins = '0'
    return hour + ':' + mins

In [639]:
df['DEP_TIME'].groupby(df['DEP_TIME']).count()

DEP_TIME
1.0       23
2.0       14
3.0       13
4.0       18
5.0       12
          ..
2356.0    33
2357.0    23
2358.0    25
2359.0    20
2400.0    12
Name: DEP_TIME, Length: 1336, dtype: int64

In [640]:
df['DEP_TIME'] = list(map(military_convert,df['DEP_TIME']))
df['ARR_TIME'] = list(map(military_convert,df['ARR_TIME']))
df['WHEELS_OFF'] = list(map(military_convert,df['WHEELS_OFF']))
df['WHEELS_ON'] = list(map(military_convert,df['WHEELS_ON']))

In [641]:
df.head()

,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,DEP_DELAY,...,ARR_DELAY_GROUP,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,Monday,2020-12-28,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,17:24,-6.0,...,-1.0,177.0,146.0,985.0,4,0.0,0.0,0.0,0.0,0.0
1,Tuesday,2020-12-29,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:05,35.0,...,2.0,182.0,150.0,985.0,4,0.0,0.0,5.0,0.0,35.0
2,Wednesday,2020-12-30,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:44,74.0,...,8.0,230.0,148.0,985.0,4,0.0,0.0,60.0,0.0,67.0
3,Thursday,2020-12-31,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:05,35.0,...,2.0,175.0,154.0,985.0,4,0.0,0.0,0.0,0.0,33.0
4,Tuesday,2020-12-01,CLT,"Charlotte, NC",NC,MCO,"Orlando, FL",FL,12:52,-7.0,...,-2.0,89.0,75.0,468.0,2,0.0,0.0,0.0,0.0,0.0

In [642]:
df['DEP_TIME'] = pd.to_datetime.(df['DEP_TIME'])
df['DEP_TIME'].describe()

SyntaxError: invalid syntax (<ipython-input-642-c3dad724dd96>, line 1)

In [643]:
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])

In [644]:
df.head()

,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,DEP_DELAY,...,ARR_DELAY_GROUP,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,Monday,2020-12-28,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,17:24,-6.0,...,-1.0,177.0,146.0,985.0,4,0.0,0.0,0.0,0.0,0.0
1,Tuesday,2020-12-29,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:05,35.0,...,2.0,182.0,150.0,985.0,4,0.0,0.0,5.0,0.0,35.0
2,Wednesday,2020-12-30,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:44,74.0,...,8.0,230.0,148.0,985.0,4,0.0,0.0,60.0,0.0,67.0
3,Thursday,2020-12-31,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:05,35.0,...,2.0,175.0,154.0,985.0,4,0.0,0.0,0.0,0.0,33.0
4,Tuesday,2020-12-01,CLT,"Charlotte, NC",NC,MCO,"Orlando, FL",FL,12:52,-7.0,...,-2.0,89.0,75.0,468.0,2,0.0,0.0,0.0,0.0,0.0

In [645]:
df.dtypes

DAY_OF_WEEK                    object
FL_DATE                datetime64[ns]
ORIGIN                         object
ORIGIN_CITY_NAME               object
ORIGIN_STATE_ABR               object
DEST                           object
DEST_CITY_NAME                 object
DEST_STATE_ABR                 object
DEP_TIME                       object
DEP_DELAY                     float64
DEP_DELAY_NEW                 float64
DEP_DELAY_GROUP               float64
WHEELS_OFF                     object
WHEELS_ON                      object
ARR_TIME                       object
ARR_DELAY                     float64
ARR_DELAY_NEW                 float64
ARR_DELAY_GROUP               float64
ACTUAL_ELAPSED_TIME           float64
AIR_TIME                      float64
DISTANCE                      float64
DISTANCE_GROUP                  int64
CARRIER_DELAY                 float64
WEATHER_DELAY                 float64
NAS_DELAY                     float64
SECURITY_DELAY                float64
LATE_AIRCRAFT_DELAY           float64
dtype: object

In [646]:
del df['DEP_DELAY_NEW']
del df['ARR_DELAY_NEW']

In [647]:
df.head()

,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,DEP_DELAY,...,ARR_DELAY_GROUP,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,Monday,2020-12-28,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,17:24,-6.0,...,-1.0,177.0,146.0,985.0,4,0.0,0.0,0.0,0.0,0.0
1,Tuesday,2020-12-29,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:05,35.0,...,2.0,182.0,150.0,985.0,4,0.0,0.0,5.0,0.0,35.0
2,Wednesday,2020-12-30,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:44,74.0,...,8.0,230.0,148.0,985.0,4,0.0,0.0,60.0,0.0,67.0
3,Thursday,2020-12-31,MCO,"Orlando, FL",FL,DFW,"Dallas/Fort Worth, TX",TX,18:05,35.0,...,2.0,175.0,154.0,985.0,4,0.0,0.0,0.0,0.0,33.0
4,Tuesday,2020-12-01,CLT,"Charlotte, NC",NC,MCO,"Orlando, FL",FL,12:52,-7.0,...,-2.0,89.0,75.0,468.0,2,0.0,0.0,0.0,0.0,0.0

In [648]:
df['DEP_DELAY'].describe()

count    366940.00000
mean          2.96279
std          39.53014
min         -54.00000
25%          -7.00000
50%          -4.00000
75%           0.00000
max        3072.00000
Name: DEP_DELAY, dtype: float64

In [649]:
df['ARR_DELAY'].describe()

count    366940.000000
mean         -2.336450
std          41.773969
min         -90.000000
25%         -17.000000
50%          -9.000000
75%           2.000000
max        3069.000000
Name: ARR_DELAY, dtype: float64

In [650]:
df['ACTUAL_ELAPSED_TIME'].describe()

count    366940.000000
mean        135.793478
std          68.893498
min          16.000000
25%          85.000000
50%         121.000000
75%         167.000000
max         679.000000
Name: ACTUAL_ELAPSED_TIME, dtype: float64

In [651]:
df['AIR_TIME'].describe()

count    366940.000000
mean        112.924789
std          67.969575
min           8.000000
25%          63.000000
50%          97.000000
75%         144.000000
max         658.000000
Name: AIR_TIME, dtype: float64

In [652]:
df['DISTANCE'].describe()

count    366940.000000
mean        809.488824
std         567.898540
min          31.000000
25%         391.000000
50%         674.000000
75%        1050.000000
max        5095.000000
Name: DISTANCE, dtype: float64

In [653]:
df['CARRIER_DELAY'].describe()

count    366940.000000
mean          3.112577
std          27.124228
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2522.000000
Name: CARRIER_DELAY, dtype: float64

In [654]:
df['WEATHER_DELAY'].describe()

count    366940.000000
mean          0.556887
std          15.408048
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        1706.000000
Name: WEATHER_DELAY, dtype: float64

In [655]:
df['NAS_DELAY'].describe()

count    366940.000000
mean          1.590712
std          11.999925
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        1343.000000
Name: NAS_DELAY, dtype: float64

In [656]:
df['SECURITY_DELAY'].describe()

count    366940.000000
mean          0.019006
std           1.001343
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         258.000000
Name: SECURITY_DELAY, dtype: float64

In [657]:
df['LATE_AIRCRAFT_DELAY'].describe()

count    366940.000000
mean          1.699346
std          17.040066
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2321.000000
Name: LATE_AIRCRAFT_DELAY, dtype: float64

In [658]:
df['DAY_OF_WEEK'].groupby(df['DAY_OF_WEEK']).count()

DAY_OF_WEEK
Friday       46231
Monday       51195
Saturday     47424
Sunday       52244
Thursday     56050
Tuesday      57195
Wednesday    56601
Name: DAY_OF_WEEK, dtype: int64

In [659]:
df['FL_DATE'].groupby(df['FL_DATE']).count()

FL_DATE
2020-12-01    11858
2020-12-02     9930
2020-12-03    11873
2020-12-04    11920
2020-12-05     9962
2020-12-06    12069
2020-12-07    11875
2020-12-08     9273
2020-12-09     9753
2020-12-10    11858
2020-12-11    11913
2020-12-12     9898
2020-12-13    12001
2020-12-14    11850
2020-12-15     9301
2020-12-16     9511
2020-12-17    12568
2020-12-18    13703
2020-12-19    13844
2020-12-20    13835
2020-12-21    13699
2020-12-22    13541
2020-12-23    13896
2020-12-24     9862
2020-12-25     8695
2020-12-26    13720
2020-12-27    14339
2020-12-28    13771
2020-12-29    13222
2020-12-30    13511
2020-12-31     9889
Name: FL_DATE, dtype: int64

In [660]:
def to_table(col):
    coldf = df[col].groupby(df[col]).count()
    coldf = coldf.to_frame()
    coldf['Proportion (%)'] = coldf[col] / 3669.40
    coldf.to_csv(col+'.csv',index=True)

In [661]:
to_table('ORIGIN')
to_table('ORIGIN_CITY_NAME')
to_table('ORIGIN_STATE_ABR')
to_table('DEST')
to_table('DEST_CITY_NAME')
to_table('DEST_STATE_ABR')
to_table('DEP_TIME')
to_table('WHEELS_OFF')
to_table('WHEELS_ON')
to_table('ARR_TIME')

In [669]:
to_table('DEP_DELAY_GROUP')
to_table('ARR_DELAY_GROUP')
to_table('DISTANCE_GROUP')

In [672]:
contVars = pd.DataFrame(df)
contVars.head()
contVars.drop(['DAY_OF_WEEK','ORIGIN','FL_DATE','ORIGIN_CITY_NAME','ORIGIN_STATE_ABR','DEST','DEST_CITY_NAME','DEST_STATE_ABR','DEP_TIME','WHEELS_OFF','WHEELS_ON','ARR_TIME','DEP_DELAY_GROUP','ARR_DELAY_GROUP','DISTANCE_GROUP'],axis=1)

,DEP_DELAY,ARR_DELAY,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,-6.0,-6.0,177.0,146.0,985.0,0.0,0.0,0.0,0.0,0.0
1,35.0,40.0,182.0,150.0,985.0,0.0,0.0,5.0,0.0,35.0
2,74.0,127.0,230.0,148.0,985.0,0.0,0.0,60.0,0.0,67.0
3,35.0,33.0,175.0,154.0,985.0,0.0,0.0,0.0,0.0,33.0
4,-7.0,-19.0,89.0,75.0,468.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
371352,-1.0,-12.0,144.0,134.0,850.0,0.0,0.0,0.0,0.0,0.0
371353,21.0,2.0,91.0,83.0,634.0,0.0,0.0,0.0,0.0,0.0
371354,39.0,25.0,141.0,124.0,896.0,8.0,0.0,0.0,0.0,17.0
371355,-4.0,-36.0,138.0,125.0,896.0,0.0,0.0,0.0,0.0,0.0
371356,-4.0,-26.0,163.0,151.0,1004.0,0.0,0.0,0.0,0.0,0.0

In [673]:
matrix = contVars.corr()
matrix.to_csv('correlationMatrix.csv')

In [ ]:
sn.